<p>
  <strong>Club Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @club.website %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @club.contact %>
</p>

<%= link_to 'Back', clubs_path %>
