<p>
  <strong>Day:</strong>
  <%= session.day_of_week %>
</p>

<p>
  <strong>Location:</strong>
  <%= session.location_description %>
</p>

<p>
  <%= link_to 'Delete', [session.club, session],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
