<div class="row">
  <div class="col-md-3">

    <h1>Find Jitsu</h1>

    <h3>Welcome to the London Jitsu club finder</h3>

    <p>Find which clubs are near you and training today</p>

    <button id="jitsu-me-button" class="btn btn-lg">JITSU ME</button>

  </div><!-- end of input column-->

  <div id="map-container" class="col-md-9">

    <div id="map"></div>

  </div><!-- end of map column-->

</div><!-- end of row-->
