// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.placeholder {
    background-image: asset-url("placeholder.png");
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    z-index: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section {
    height: 100%;
    width: 50%;
    display: inline;
    margin: auto;
    text-align: center;
}

.section__content {
  pointer-events: none;
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 20%;
  width: 100%;
  // height: 100%;
  text-align: center;
  z-index: 100;
}


.upcoming-sessions__heading {
  color: $colour-white;
  background-color: $colour-red;
  font-weight: 600;
  margin: 0 -15px;
  padding: 10px 15px;
  width: initial;
  border-bottom-width: 5px;
  border-bottom: thick solid #660705;
}

.upcoming-sessions {
  color: $colour-grey;
  background-color: $colour-white;

}

.upcoming-sessions__cards {
  float: left;
  width: 33%;
}

.map-container {
  padding: 0;
  margin: 0;
  height: 80vh;
  position: relative;

  #map {
    height: 100%;
    z-index: 0;
  }
}
